.userInfo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #645e5e4b;
    gap: 10px;

    .user{
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;
    }

}