/* Menu.css */

/* General styles for the menu container */
.menu-container {
    width: 100%; /* Full width of the page */
    background-color: #2c3e50;
    color: white;
    padding: 0px 0; /* Adjust the padding to fit below the navbar */
    margin-top: 0px; /* Space the menu below the navbar (adjust this value if needed) */
    display: flex;
    justify-content: center; /* Center the menu */
  }
  
  /* Menu items list */
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to align the menu items horizontally */
    justify-content: center; /* Center the menu items */
  }
  
  .menu li {
    padding: 0px;
    font-size: 1px;
    transition: background-color 0.3s;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .menu li:hover {
    background-color: #34495e;
  }
  
  .menu li a:hover {
    color: #021c22;
  }
  
  .menu li a:active {
    background-color: #525c5a;
  }
  