.myCourses-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tab navigation styles */
.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #f4f4f9;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.tab.active {
    background-color: #28a745;
    color: white;
}

.tab:hover {
    background-color: #ddd;
}

/* Sign-up container */
.signUp-container, .yourCourses-container {
    padding: 20px;
}

/* Grid layout for courses */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/* Styling for individual course cards */
.course-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    min-height: 200px;
}

.course-card-title {
    color: gray;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Styling for course title */
.course-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styling for course description */
.course-description {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

/* Sign-up button styles */
.sign-up-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Unregister button styles */
.unregister-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.unregister-btn:hover {
    background-color: #c82333;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.search-input:focus {
    outline: none;
    border-color: #28a745;
}

.edit-course-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.edit-course-btn:hover {
    background-color: darkgreen;
}

.delete-course-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.delete-course-btn:hover {
    background-color: darkred;
}